/* table */
.cal-table-month { border:1px solid; }

.cal-header-month { color: red; background-color: white; }
.cal-header-days { color: blue; background-color: white; }

/* Normal day */
.cal-cell-day	{ background-color: white; }
/* today */
.cal-cell-today	{ background-color: pink; }
/* empty day cell */
.cal-cell-empty: { background-color: white }
